@import "tailwindcss";

@font-face {
  font-family: 'Edge';
  src: url('./assets/fonts/Edges.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  @apply scroll-smooth;
  scroll-padding-top: 4rem;
}
